.container{
    margin-top: $marginTopContainer;
    margin-bottom: $marginBottomContainer;
    &_galeria:hover img{
    -webkit-transform:scale(1.3);transform:scale(1.3);
    transition: transform 2s;
    }
    &_galerias{
        overflow:hidden;
    }
}
.galeria{
    margin-bottom:10px;
    &_imagen img{
        width:100%;
    }
}




