$colores: (
    "colorh1":rgb(182, 148, 35)
);

$tipoLetra:(
    "letraGeneral":'Poppins', sans-serif
);
$colorNavBar:rgb(226, 129, 60);
$margenesContainer:(
    "marginTopContainer": 50px,
    "marginBottomContainer": 50px
);
